* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    " firstSide secondSide "
    " firstSide secondSide "
    " firstSide secondSide "
    " firstSide secondSide ";
    max-height: 100vh;
    color: #4b5563;
    /* gap: 1.5em 0;
    padding: 1.5em; */


}

h2 {
    margin: 0;
}

.container {
    max-height: 100%;

}

header h2 {
    font-size: 30px;
}

header p {
    font-size: 18px;
    font-weight: 400;
}

header p a {
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid #00a6ff;
}

.otherOptions {
    display: flex;
    gap: 10px;
}

.logOptions {
    border: 2px solid blue;
    margin-top: 0;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

.logOptions p {
    border: 1px solid blue;
}

.logOptions img {
    border: 1px solid blue;
    /* display: inline-block; */
    width: 24px;
    height: 24px;
}

.firstSide {
    grid-area: firstSide;
}

.leftDetail {
    width: 500px;
    justify-self: center;
    height: 100vh;
}



.secondSide {
    grid-area: secondSide;
    background-color: #00a6ff;
    position: relative;

}

.logo-img {
    width:30%;
    padding: 20px;
    box-shadow: 0 2px 5px rgb(208, 208, 208, 45%);
    border-radius: 8px;
}



.inscriptionBox {
    background: white;
    border-radius: 16px ;
    grid-area: right;
    padding: 40px;
    width: 450px;
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inscriptionBox h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 1.25;
}

.inscriptionBox span {
    color: #00a6ff;
}

button {
    display: block;
    border: none;
    border-radius: 8px;
    padding: 16px;
    width: 100%;
    background: #002c47;
    color: white;
    font-size: 16px;
}


form {
    width: 100%;
    font-family: "Poppins", sans-serif;
}

form label {
    font-size: 12px;
    text-transform: uppercase;
}

input {
    display: block;
    padding: 12px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
}



.anInput {
    margin-bottom: 16px;
}

